<a href="https://colab.research.google.com/github/feelsmandata/feelsmandata/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', 50)

In [4]:
path = '/content/drive/MyDrive/Free Code Camp/adult.data.csv'

In [5]:
df = pd.read_csv(path)

In [7]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [8]:
df.info

<bound method DataFrame.info of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>

In [9]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [13]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [15]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [20]:
race_count = df['race'].value_counts()

In [21]:
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [22]:
# What is the average age of men?

In [37]:
sex = df['sex'].value_counts()
men = df.loc[df['sex']== 'Male', 'age']
average_age_men = df.loc[df['sex'] == 'Male', 'age'].mean()

In [40]:
average_age_men

39.43354749885268

In [41]:
# What is the percentage of people who have a Bachelor's degree?

In [52]:
bachelors = df['education'] == 'Bachelors'
bachelors_total = df.loc[bachelors].value_counts().sum()
educated = df['education'].value_counts().sum()
percentage_bachelors = round(bachelors_total * 100 / educated,1)

In [53]:
percentage_bachelors

16.4

In [ ]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

In [89]:
master = df['education'] == 'Masters'
doctor = df['education'] == 'Doctorate'
higher_education = (bachelors | master | doctor)
lower_education = (df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')

In [128]:
 # with and without `Bachelors`, `Masters`, or `Doctorate`
 hi_ed_rich = df.loc[higher_education & df['salary'] == '>50K'].value_counts().sum()
 hi_ed_total = df.loc[bachelors | master | doctor].value_counts().sum()
 higher_education_rich = round(hi_ed_rich * 100 / hi_ed_total, 1)

In [91]:
low_ed_rich = df.loc[lower_education & df['salary'] == '>50K'].value_counts().sum()
low_ed_total = df.loc[lower_education].value_counts().sum()
low_education_rich = round(low_ed_rich * 100 / low_ed_total,1)

In [92]:
 # percentage with salary >50K
higher_education_rich = round(hi_ed_rich * 100 / hi_ed_rich, 1)
low_education_rich = round(low_ed_rich * 100 / low_ed_total,1)

<ipython-input-92-6f565f686d12>:2: RuntimeWarning: invalid value encountered in long_scalars
  higher_education_rich = round(hi_ed_rich * 100 / hi_ed_rich, 1)

In [94]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [105]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df.loc[df['hours-per-week'] == 1 & (df['salary'] == '>50K')].value_counts().sum()

In [106]:
rich_percentage = num_min_workers * 100 / df.loc[df['hours-per-week'] == 1].value_counts().sum()

In [108]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df.loc[df['salary'] == '>50K', 'native-country'].value_counts().sum()
country_population = df['native-country'].value_counts()
highest_earning_country_percentage = None

In [111]:
rich_percent = round(highest_earning_country * 100 / country_population, 1)

In [116]:
highest_earning = rich_percent.max()

In [123]:
 # Identify the most popular occupation for those who earn >50K in India.
 india = df['native-country'] == 'India'
 india_rich = df.loc[india & (df['salary'] == '>50K'), 'occupation'].value_counts()

In [124]:
 india_rich

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [126]:
top_in_occupation = india_rich.idxmax()

In [127]:
top_in_occupation

'Prof-specialty'

In [139]:
def calculate_demographic_data(print_data=True):

  if print_data:
        print("Number of each race:\n", race_count)
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {hi_ed_total}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {low_education_rich}%")
        print(f"Min work time: {num_min_workers} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning)
        print(f"Highest percentage of rich people in country: {india_rich}%")
        print("Top occupations in India:", top_in_occupation)

  return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': hi_ed_total,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': low_education_rich,
        'min_work_hours': num_min_workers,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning,
        'highest_earning_country_percentage':
        india_rich,
        'top_IN_occupation': top_in_occupation
        }